* {
    font-family: sans-serif;
}

.title{
    color: #222;
}

a{
    text-decoration: none;
}

input{
    border: 1px solid #999;
    border-radius: 10px;
    padding: 10px;
}

[type="checkbox"]{
    vertical-align:middle;
}