{{#partial "contenido"}}
    <div class="m-5">
        <div class="row justify-content-center">
            <form method="POST" action="/">
                <h4 class="fw-bold fs-5">Información básica</h4>
                <p class="mb-3">Ingresar los datos personales básicos del técnico.</p>

                <div class="row mb-3">
                    <div class="col-12 col-md-6 mb-2 mb-md-0">
                        <input name="nombre" type="text" class="w-100" placeholder="Nombre">
                    </div>
                    <div class="col-12 col-md-6 mb-2 mb-md-0">
                        <input name="apellido" type="text" class="w-100" placeholder="Apellido">
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-12 col-md-6 mb-2 mb-md-0">
                        <input name="direccion" type="text" class="w-100" placeholder="Dirección">
                    </div>
                    <div class="col-12 col-md-6 mb-2 mb-md-0">
                        <input name="cuil" type="text" class="w-100" placeholder="CUIL">
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-6 col-md-6 mb-2 mb-md-0">
                        <input type="text" class="w-100" placeholder="Radio máximo para ser avisado">
                    </div>
                    <div class="col-6">
                        <div class="input-group">
                            <select id="documentos" name="documentos" class="custom-select">
                                <option value="dni">DNI</option>
                                <option value="libreta-civica">LIBRETA CÍVICA</option>
                                <option value="libreta-enrolamiento">LIBRETA DE ENROLAMIENTO</option>
                                <option value="pasaporte">PASAPORTE</option>
                            </select>
                            <input type="text" class="custom-input" placeholder="Número de documento">
                        </div>
                    </div>
                </div>

                <h4 class="fw-bold fs-5 mt-5">Medios de contacto</h4>
                <p class="mb-3">Indicar al menos un medio de contacto.</p>

                <div class="row mb-3">
                    <div class="col-12 col-md-4 mb-2 mb-md-0">
                        <input name="whatsapp" type="text" class="w-100" placeholder="WhatsApp">
                    </div>
                    <div class="col-12 col-md-4 mb-2 mb-md-0">
                        <input name="telegram" type="text" class="w-100" placeholder="Telegram">
                    </div>
                    <div class="col-12 col-md-4 mb-2 mb-md-0">
                        <input name="correo" type="text" class="w-100" placeholder="Correo electrónico">
                    </div>
                </div>

                <div class="row mb-4">
                    <div class="col-12">
                        <button class="w-100">Dar de alta</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{{/partial}}

{{> templates/base titulo="Alta de tecnicos" mostrarAdmin=true mostrarIrAtras=true paginaAtras="/admin"}}