{{#partial "contenido"}}
    <div class="pt-5 pb-5"></div>
    <div class="container-fluid mb-5">
        <div class="row justify-content-center">
            <div class="col-md-3 col-12">
                <h1 class="title text-center">Cargar CSV</h1>
                <div class="pt-2 pb-5  text-center">Migración de los donantes que ya existen, pero de manera masiva. Importar un archivo CSV para que la carga de datos sea más sencilla.</div>
                <div class="row mt-2">
                    <input type="file" id="file-upload" class="file-input">
                    <label for="file-upload" class="d-flex align-items-center justify-content-center boton">
                        Seleccionar archivo CSV
                        <span class="iconify ms-2" data-icon="material-symbols:upload" data-width="24" data-height="24"></span>
                    </label>
                </div>
            </div>
        </div>
    </div>
{{/partial}}

{{> templates/base titulo="Carga CSV" mostrarAdmin=true mostrarIrAtras=true paginaAtras="/admin"}}

