{{#partial "contenido"}}
        <div class="m-5">
            <div class="row justify-content-center">
                <form id="subscriptionForm" method="POST" action="/mapaHeladeras/{heladeraId}/suscripciones/persona/{personaId}/suscribir">
                    <h4 class="fw-bold fs-5">Suscribirse a las alertas de la heladera</h4>
                    <p class="mb-3">Selecciona el tipo de alerta que deseas recibir.</p>

                    <!-- Campo oculto para el ID del usuario -->
                    <input type="hidden" name="personaId" value="{{personaId}}">

                    <!-- Campo oculto para el ID de la heladera -->
                    <input type="hidden" name="heladeraId" value="{{heladeraId}}">

                    <!-- Selección del tipo de suscripción -->
                    <div class="row mb-3">
                        <div class="col-12 col-md-6 mb-2 mb-md-0">
                            <label for="tipoSuscripcion" class="form-label">Tipo de suscripción</label>
                            <select id="tipoSuscripcion" name="tipoSuscripcion" class="form-select" required>
                                <option value="FALTAN_N_VIANDAS">Faltan N viandas</option>
                                <option value="QUEDAN_N_VIANDAS">Quedan N viandas</option>
                                <option value="DESPERFECTO">Desperfecto</option>
                            </select>
                        </div>
                    </div>

                    <!-- Botón para enviar el formulario -->
                    <div class="row">
                        <div class="col-12">
                            <button id="subscribeButton" type="submit" class="w-100">Suscribirse</button>
                        </div>
                    </div>

                    <!-- Mostrar mensajes de error si existen -->
                    {{#if error}}
                        <div class="row mt-2 justify-content-center">
                            <p class="error text-center">{{error}}</p>
                        </div>
                    {{/if}}
                </form>
            </div>
        </div>

{{/partial}}

{{> templates/base titulo="Suscripción a Heladera" mostrarSeccion=true seccion="Suscripciones" mostrarIrAtras=true paginaAtras="/mapaHeladeras" }}
