{{#partial "contenido"}}
    <div class="m-5">
        <div class="col-md-10">
            <h1 class="dark-text">{{error}}</h1>
            <p class="dark-text">Si cree que esto es un error, no dude en comunicarse con nuestro soporte técnico para obtener ayuda. Nuestro equipo estará encantado de asistirle en la resolución de cualquier inconveniente.</p>
        </div>
    </div>
{{/partial}}

{{> templates/base titulo="Error"}}