<footer class="mt-5 d-flex flex-wrap justify-content-between align-items-center py-4 border-top">
    <div class="col-md-6 mb-0 text-muted">
        <p class="fw-bold mb-1">&copy; 2024 SMAACVS</p>
        <p class="fst-italic mb-1">Universidad Tecnológica Nacional FRBA</p>
        <p class="fst-italic mb-0">Diseño de Sistemas - Grupo 8 - Miércoles Noche</p>
    </div>
    <div class="col-md-6 d-flex justify-content-end">
        <a href="sobreNosotros.html" class="nav-link px-2 text-dark">Sobre nosotros</a>
        <a href="https://docs.google.com/document/d/13niiEppxrm8LjyrxmH5Pskrc7VVuPKWSFRi3WvhsXns/edit" target="_blank" class="nav-link px-2 text-dark">Consigna</a>
    </div>
</footer>