{{#partial "contenido"}}
    <div class="m-5">
        <div class="row justify-content-center">
            <form method="POST" action="/colaboraciones/personasVulnerables">
                <h4 class="fw-bold fs-5">Información básica</h4>
                <p class="mb-3">Ingresar los datos personales básicos de la persona en situación vulnerable.</p>
                <div class="row mb-3">
                    <div class="col-12 col-md-6 mb-2 mb-md-0">
                        <input name="nombre" required pattern="^[A-Z][a-zA-Zà-ÿ]+(?: [A-Z][a-zA-Zà-ÿ]+){0,2}$" type="text" class="w-100" placeholder="Nombre">
                    </div>
                    <div class="col-12 col-md-6 mb-2 mb-md-0">
                        <input name="apellido" type="text" class="w-100" placeholder="Apellido" required pattern="^[A-Z][a-zA-Zà-ÿ]+(?: [A-Z][a-zA-Zà-ÿ]+){0,2}$">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-12 col-md-12 mb-2 mb-md-0">
                        <div class="form-floating">
                            <input name="fecha" type="date" id="fecha" class="form-control" min="1910-01-01" max="2024-12-31">
                            <label for="fecha">Fecha de nacimiento</label>
                        </div>
                    </div>
                </div>
                <h4 class="fw-bold fs-5 mt-5">Campos específicos</h4>
                <p class="mb-3">Si no se ingresa un campo, se considerará que no se tiene la información correspondiente. Si no se ingresa un número de documento, se asumirá que es indocumentado, y si no se especifica una cantidad de menores a cargo, se entenderá que no tiene.</p>
                <div class="row mb-3">
                    <div class="col-12 col-md-6 mb-2 mb-md-0">
                        <input name="cantidadMenores" type="number" class="w-100" placeholder="Cantidad de menores a cargo">
                    </div>
                    <div class="col-6">
                        <div class="input-group">
                            <select id="documentos" name="tipoDocumento" class="custom-select" required>
                                <option value="DNI">DNI</option>
                                <option value="LC">LIBRETA CÍVICA</option>
                                <option value="LE">LIBRETA DE ENROLAMIENTO</option>
                                <option value="PASAPORTE">PASAPORTE</option>
                            </select>
                            <input name="nroDocumento" type="text" class="custom-input" placeholder="Número de documento" pattern="^[a-zA-Z0-9-]{5,50}$">
                        </div>
                    </div>
                </div>
                <h4 class="fw-bold fs-5 mt-5">Dirección</h4>
                <p class="mb-3">Si no se proporciona una dirección, se asumirá que la persona está en situación de calle. Aunque la dirección no es obligatoria, si decides proporcionarla, asegúrate de incluir al menos la calle, el municipio y la provincia.</p>
                <div class="row mb-3">
                    <div class="col-12 col-md-6 mb-2 mb-md-0">
                        <input name="calle" type="text" class="w-100" placeholder="Calle" required aria-label="Calle" pattern="[A-Z][a-z]+{2, 50}">
                    </div>
                    <div class="col-12 col-md-6 mb-2 mb-md-0">
                        <input name="altura" type="number" class="w-100" placeholder="Altura" required aria-label="Altura">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-12 col-md-6 mb-2 mb-md-0">
                        <input name="provincia" type="text" class="w-100" placeholder="Provincia" required aria-label="Provincia" pattern="^[A-Z][a-zA-Zà-ÿ]+(?: [A-Z][a-zA-Zà-ÿ]+){0,2}$">
                    </div>
                    <div class="col-12 col-md-6 mb-2 mb-md-0">
                        <input name="municipio" type="text" class="w-100" placeholder="Municipio" required aria-label="Municipio" pattern="^[A-Z][a-zA-Zà-ÿ]+(?: [A-Z][a-zA-Zà-ÿ]+){0,2}$">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <button type="submit" class="w-100">Dar de alta</button>
                    </div>
                </div>
                {{#if error}}
                    <div class="row mt-2 justify-content-center">
                        <p class="error text-center">{{error}}</p>
                    </div>
                {{/if}}
            </form>
        </div>
    </div>
{{/partial}}

{{> templates/base titulo="Personas Vulnerables" mostrarPersonaHumana=true mostrarIrAtras=true paginaAtras="/inicio"}}