{{#partial "contenido"}}
    <div class="m-5">
        <div class="row justify-content-center">
            <form>
                <h4 class="fw-bold fs-5">Información básica</h4>
                <p class="mb-3">Ingresar los datos personales básicos de la persona en situacion vulnerable.</p>
                <div class="row mb-3">
                    <div class="col-12 col-md-6 mb-2 mb-md-0">
                        <input type="text" class="w-100" placeholder="Nombre">
                    </div>
                    <div class="col-12 col-md-6 mb-2 mb-md-0">
                        <input type="text" class="w-100" placeholder="Apellido">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-12 col-md-12 mb-2 mb-md-0">
                        <div class="form-floating">
                            <input type="date" id="fecha" name="fecha" class="form-control" min="1910-01-01" max="2024-12-31">
                            <label for="fecha">Fecha de nacimiento</label>
                        </div>
                    </div>
                </div>
                <h4 class="fw-bold fs-5 mt-5">Campos específicos</h4>
                <p class="mb-3">Si no se ingresa un campo, se considerará que no se tiene la información correspondiente. Si no se proporciona una dirección, se considerará que la persona está en situación de calle. Del mismo modo, si no se ingresa un número de documento, se asumirá que es indocumentado, y si no se especifica una cantidad de menores a cargo, se entenderá que no tiene.</p>
                <div class="row mb-3">
                    <div class="col-12 col-md-6 mb-2 mb-md-0">
                        <input type="text" class="w-100" placeholder="Cantidad de menores a cargo">
                    </div>
                    <div class="col-12 col-md-6 mb-2 mb-md-0">
                        <input type="text" class="w-100" placeholder="Dirección">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-12">
                        <div class="input-group">
                            <select id="documentos" name="documentos" class="custom-select">
                                <option value="dni">DNI</option>
                                <option value="libreta-civica">LIBRETA CÍVICA</option>
                                <option value="libreta-enrolamiento">LIBRETA DE ENROLAMIENTO</option>
                                <option value="pasaporte">PASAPORTE</option>
                            </select>
                            <input type="text" class="custom-input" placeholder="Número de documento">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <button class="w-100">Dar de alta</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{{/partial}}

{{> templates/base titulo="Personas Vulnerables" mostrarPersonaHumana=true mostrarIrAtras=true paginaAtras="/inicio"}}